// ----------------------------------------------------------------------------
// Estudio Viking WP Styles
// ----------------------------------------------------------------------------


// Header Navigation ----------------------------------------------------------
#nav-header {

  @media (min-width: $wpadminbar-md-screen) {
		padding-bottom: $spacing-inc;
		padding-top: $spacing-inc;
  }

	@media (max-width: $wpadminbar-sm-screen-max) {
		position: absolute;
  }

}


// Entry-meta -----------------------------------------------------------------
.entry-meta{

	> * {
		margin-right: $spacing-inc;
		&:last-child {
			margin-right: 0;
		}
	}

	.glyphicon {
		margin-right: $spacing-inc;
	}

}


// Copyright Text -------------------------------------------------------------
#copyright {
	margin-top: $spacing-inc;
	margin-bottom: $spacing-inc;
}