// ----------------------------------------------------------------------------
// Estudio Viking WP Styles
// ----------------------------------------------------------------------------


// Variables ------------------------------------------------------------------
$padding-inc:								10px !default;


// Header Navigation ----------------------------------------------------------
#nav-header {
  @media (min-width: $wpadminbar-md-screen) {
		padding-bottom: $padding-inc;
		padding-top: $padding-inc;
  }

	@media (max-width: $wpadminbar-sm-screen-max) {
		position: absolute;
  }
}


// Copyright Text -------------------------------------------------------------
#copyright {
	margin-top: $padding-inc;
	margin-bottom: $padding-inc;
}
