// ----------------------------------------------------------------------------
// Estudio Viking WP Styles
// ----------------------------------------------------------------------------


// Images ---------------------------------------------------------------------
img {
	max-width: 100%;
}


// Header Navigation ----------------------------------------------------------
#nav-header {

  @media (min-width: $wpadminbar-md-screen) {
		//padding-bottom: $spacing-inc;
		//padding-top: $spacing-inc;
  }

	@media (max-width: $wpadminbar-sm-screen-max) {
		position: absolute;
  }

}


// Entry-meta -----------------------------------------------------------------
.entry-meta{
	color: $gray-light;

	small > * {
		margin-right: $spacing-inc;
		&:last-child {
			margin-right: 0;
		}
	}

	.glyphicon {
		margin-right: $spacing-inc;
	}

	a {
		color: $gray-light;
		&:hover,
		&:focus {
			color: $gray-dark;
		}
	}

}


// Copyright Text -------------------------------------------------------------
#copyright {
	margin-top: $spacing-inc;
	margin-bottom: $spacing-inc;
}