// ----------------------------------------------------------------------------
// Core WP Default Classes
// ----------------------------------------------------------------------------


// Screen Reader Text ---------------------------------------------------------
.screen-reader-text {
	@extend .sr-only;
	@extend .sr-only-focusable;
}


// Media Alignments -----------------------------------------------------------
.alignnone {
    margin: $spacing-inc 0;
}

.alignright {
    @extend .pull-right;
    margin: 0 0 $spacing-inc $line-height-computed;
}

.alignleft {
    @extend .pull-left;
    margin: 0 $line-height-computed $spacing-inc 0;
}

.aligncenter {
    @extend .center-block;
    margin: 0 auto $spacing-inc;
}