// ----------------------------------------------------------------------------
// Assessibility Core Styles
// ----------------------------------------------------------------------------


// Skip-Link
// ----------------------------------------------------------------------------
#skip-link {
	background-color: #f5f5f5;
	display: block;
	outline: 0;
	padding: 1em;
	text-align: center;
}

#skip-link .skip-link-text {
	padding: .5em;
}