// ----------------------------------------------------------------------------
// Assessibility Core Styles
// ----------------------------------------------------------------------------


// Skip-Link ------------------------------------------------------------------
#skip-link {
	background-color: $well-bg;
	display: block;
	outline: 0;
	padding: 1em;
	text-align: center;
}

#skip-link .skip-link-text {
	padding: .5em;
}