// ----------------------------------------------------------------------------
// Navigation Core Styles
// ----------------------------------------------------------------------------


// Header Text Fix ------------------------------------------------------------
#header-txt > * {
	margin-top: 0;
	margin-bottom: 0;
}

#nav-header.navbar {
	margin-bottom: 0;
}